*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.miApp{
  min-height: 100vh;
  position: relative;
  margin-top: 20px;
}

div h2 {
  text-align: center;
  justify-content: center;
  align-items: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font: 25px ;  
}

